.container {
  margin: 0 auto;
  padding: 40px 16px;
  max-width: 1200px;
}

.weight-medium {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.btn {
  display: flex;
  border-radius: 20px;
  padding: 6px 22px;
  color: #fff;
  width: max-content;
  font-weight: 500;
  align-items: center;
  background-color: var(--color-1);
  justify-content: center;
}

.btn.rounded-sm {
  border-radius: 8px;
}

.btn.btn-medium {
  padding: 6px 40px;
}

.btn:hover {
  background-color: rgba(42, 207, 207, 0.8);
}
